:root {
  --ULTRAMARINE-BLUE: #4452FE;
  --EERIE-BLACK: #181818;
  --WHITE: #fff;
  --BLACK: #000;
  --SMOKY-BLACK: #0E0E0E;
  --DAVYS-GREY: #5C5C5C;
  --graphik: "Graphik", sans-serif;
  --roboto: "Roboto", sans-serif;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik/Graphik-Regular.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik/Graphik-Medium.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: var(--EERIE-BLACK);
  transition: all 0.2s;
}

.header-shadow {
  box-shadow: 0 10px 20px 0 var(--SMOKY-BLACK);
}

.header-row {
  display: flex;
  align-items: center;
  height: 119px;
  max-width: 1028px;
  margin: 0 auto;
}

.header-logo {
  width: 186px;
  height: 58px;
}
.header-logo img {
  width: 100%;
  height: 100%;
  display: block;
}

.nav {
  display: flex;
  margin-left: 116px;
}

.nav-link {
  font-weight: 500;
  color: var(--WHITE);
  transition: all 0.3s;
}
.nav-link + * {
  padding-left: 31px;
}
.nav-link:hover {
  opacity: 0.8;
}

.header-btn {
  margin-left: auto;
}

.menu-btn {
  display: none;
  width: 60px;
  height: 46px;
  margin-left: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}
.menu-btn:hover {
  opacity: 0.8;
}
.menu-btn img {
  width: 100%;
  height: 100%;
  display: block;
}

.mobile-nav .nav-link {
  display: none;
}

.header-mobile-btn {
  display: none;
}

.hero {
  padding-top: 214px;
  position: relative;
}
.hero::after {
  content: "";
  width: 100%;
  height: 551px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, var(--SMOKY-BLACK), transparent);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 709px;
  margin: 0 auto;
  text-align: center;
  color: var(--WHITE);
}

.hero-content-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  margin: 0 0 17px;
}

.hero-content-desc {
  max-width: 582px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 95px;
}

.hero-content-btns {
  display: flex;
  justify-content: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
  width: 100%;
  margin-bottom: 35px;
}

.hero-try-for-free-btn.btn {
  max-width: 178px;
  height: 65px;
  background-color: var(--ULTRAMARINE-BLUE);
  border: none;
}

.hero-learn-more-btn.btn {
  max-width: 174px;
  height: 65px;
}

.hero-image {
  max-width: 1552px;
  height: auto;
  margin: 0 auto;
}
.hero-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.features {
  padding-top: 162px;
}

.features-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-content {
  max-width: 602px;
  text-align: center;
  margin-bottom: 80px;
}

.features-content-title {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  margin-bottom: 27px;
}

.features-content-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.features-insights {
  display: flex;
  -moz-column-gap: 27px;
       column-gap: 27px;
}

.features-image {
  max-width: 752px;
  height: 759px;
}
.features-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.feature-list {
  max-width: 249px;
}

.features-list-item + * {
  margin-top: 70px;
}

.features-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
  padding-left: 38px;
  position: relative;
}
.features-item-title::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 0;
}
.features-item-title.truth::before {
  background: url("../images/features/truth.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 23px;
}
.features-item-title.interface::before {
  background: url("../images/features/interface.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 29px;
  height: 30px;
}
.features-item-title.rules::before {
  background: url("../images/features/rules.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 41px;
  height: 19px;
}
.features-item-title.rules {
  padding-left: 50px;
}

.features-item-desc {
  font-weight: 400;
  line-height: 24px;
}

.contents {
  padding-top: 221px;
}

.contents-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents-text {
  max-width: 591px;
  text-align: center;
  margin-bottom: 58px;
}

.contents-text-title {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
}

.contents-text-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.contents-list {
  display: flex;
  gap: 33px;
}

.contents-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 476px;
  background-color: var(--WHITE);
  border-radius: 10px;
  padding: 40px 35px;
}

.contents-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: var(--BLACK);
  margin-bottom: 10px;
}

.contents-item-desc {
  max-width: 268px;
  font-weight: 400;
  line-height: 24px;
  color: var(--DAVYS-GREY);
  text-align: center;
  margin-bottom: 57px;
}

.contents-item-btn {
  background-color: var(--ULTRAMARINE-BLUE);
  margin-bottom: 30px;
}

.content-item-image {
  margin-top: auto;
}

.work-image {
  width: 405px;
  height: 227px;
  border-radius: 10px;
}

.design-image {
  width: 379px;
  height: 276px;
  border-radius: 14px;
}

.gallery {
  padding-top: 200px;
  padding-bottom: 50px;
}

.gallery-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-content {
  max-width: 591px;
  text-align: center;
  margin-bottom: 44px;
}

.gallery-title {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  margin-bottom: 10px;
}

.gallery-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 33px;
       column-gap: 33px;
  row-gap: 44px;
  margin-bottom: 44px;
}
.gallery-images img {
  border-radius: 12px;
}

.gallery-btn.btn2 {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--WHITE);
  padding: 13px 40px;
}
.gallery-btn.btn2:hover {
  background-color: var(--ULTRAMARINE-BLUE);
  box-shadow: none;
}

.partners {
  padding: 150px 0;
}

.partners-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-content {
  max-width: 591px;
  text-align: center;
  margin-bottom: 50px;
}

.partners-content-title {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  margin-bottom: 10px;
}

.partners-content-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.partners-images {
  margin-bottom: 50px;
}
.partners-images img + * {
  padding-left: 74px;
}

.partners-btn.btn2 {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--WHITE);
  padding: 13px 40px;
}
.partners-btn.btn2:hover {
  background-color: var(--ULTRAMARINE-BLUE);
  box-shadow: none;
}

@media only screen and (max-width: 1024px) {
  .header-row {
    height: 107px;
  }
  .header-logo {
    width: 166px;
    height: 50px;
  }
  .nav {
    margin-left: 90px;
  }
  .btn.header-btn {
    max-width: 129px;
    height: 46px;
  }
}
@media only screen and (max-width: 920px) {
  .nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1028px;
    min-height: 320px;
    position: absolute;
    top: 107px;
    left: 0;
    right: 0;
    background-color: var(--SMOKY-BLACK);
    padding: 40px 0;
    margin: 0 auto;
  }
  .mobile-nav .nav-link {
    display: block;
    padding: 0 0 20px 0;
  }
  .menu-btn {
    display: block;
  }
}
@media only screen and (max-width: 425px) {
  .header-row {
    justify-content: space-between;
    height: 65px;
  }
  .btn.header-btn {
    display: none;
  }
  .mobile-nav {
    top: 65px;
  }
  .header-mobile-btn {
    display: block;
    font-weight: 500;
    transition: all 0.3s;
    color: var(--WHITE);
    padding: 0;
  }
  .header-mobile-btn:hover {
    opacity: 0.8;
  }
  .menu-btn {
    width: 40px;
    height: 32px;
  }
}
@media only screen and (max-width: 1024px) {
  .hero {
    padding-top: 170px;
  }
  .hero::after {
    height: 451px;
  }
  .hero-content {
    max-width: 570px;
  }
  .hero-content-title {
    font-size: 65px;
    line-height: 75px;
  }
  .hero-content-desc {
    max-width: 390px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 60px;
  }
  .hero-content-btns {
    margin-bottom: 25px;
    -moz-column-gap: 22px;
         column-gap: 22px;
  }
  .hero-try-for-free-btn.btn,
  .hero-learn-more-btn.btn {
    height: 50px;
    font-size: 16px;
  }
  .hero-try-for-free-btn.btn {
    max-width: 148px;
  }
  .hero-learn-more-btn.btn {
    max-width: 144px;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    padding-top: 160px;
  }
  .hero::after {
    height: 280px;
  }
  .hero-content-title {
    font-size: 58px;
    line-height: 58px;
    margin: 0 0 8px;
  }
  .hero-try-for-free-btn.btn,
  .hero-learn-more-btn.btn {
    height: 42px;
  }
  .hero-try-for-free-btn.btn {
    max-width: 138px;
  }
  .hero-learn-more-btn.btn {
    max-width: 134px;
  }
}
@media only screen and (max-width: 425px) {
  .hero {
    padding-top: 124px;
  }
  .hero::after {
    height: 120px;
  }
  .hero-content-title {
    font-size: 32px;
    line-height: 38px;
  }
  .hero-content-desc {
    max-width: 304px;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 60px;
  }
  .hero-content-btns {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
  .hero-try-for-free-btn.btn,
  .hero-learn-more-btn.btn {
    max-width: 280px;
  }
}
@media only screen and (max-width: 1120px) {
  .features-content {
    margin-bottom: 70px;
  }
  .features-content-title {
    font-size: 42px;
    margin-bottom: 5px;
  }
  .features-content-desc {
    font-size: 18px;
    line-height: 25px;
  }
  .features-insights {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  .features-image {
    height: auto;
  }
  .features-image img {
    height: auto;
  }
  .features-list-item + * {
    margin-top: 60px;
  }
  .features-item-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .features-item-desc {
    line-height: 21px;
  }
}
@media only screen and (max-width: 1024px) {
  .features {
    padding-top: 124px;
  }
  .features-content {
    max-width: 502px;
  }
  .features-content-desc {
    font-size: 16px;
    line-height: 25px;
  }
  .features-item-desc {
    font-size: 16px;
  }
}
@media only screen and (max-width: 920px) {
  .features-insights {
    flex-wrap: wrap;
    justify-content: center;
  }
  .features-content {
    margin-bottom: 50px;
  }
  .feature-list {
    display: flex;
    max-width: 520px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 65px;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 40px;
  }
  .features-list-item {
    max-width: 249px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 552px) {
  .feature-list {
    justify-content: center;
  }
}
@media only screen and (max-width: 425px) {
  .features {
    padding-top: 95px;
  }
  .features-content {
    margin-bottom: 28px;
  }
  .features-content-title {
    font-size: 32px;
  }
  .features-content-desc {
    font-size: 14px;
    line-height: 21px;
  }
  .feature-list {
    margin-top: 47px;
  }
  .features-item-desc {
    font-size: 14px;
    line-height: 19px;
  }
}
@media only screen and (max-width: 1120px) {
  .contents-text {
    max-width: 538px;
  }
  .contents-text-title {
    font-size: 42px;
  }
  .contents-text-desc {
    font-size: 18px;
    line-height: 30px;
  }
  .contents-list {
    gap: 30px;
  }
  .contents-list-item {
    max-width: 432px;
    width: 100%;
    padding: 30px 25px;
  }
  .work-image {
    width: 100%;
    height: auto;
  }
  .design-image {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .contents {
    padding-top: 154px;
  }
  .contents-list-item {
    max-width: 385px;
  }
  .contents-item-title {
    margin-bottom: 5px;
  }
  .contents-item-desc {
    max-width: 252px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 35px;
  }
  .contents-item-btn.btn2 {
    margin-bottom: 20px;
    padding: 10px 39px;
  }
}
@media only screen and (max-width: 920px) {
  .contents-text {
    max-width: 502px;
  }
  .contents-text-desc {
    font-size: 16px;
    line-height: 25px;
  }
  .contents-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contents-list-item {
    max-width: 476px;
  }
}
@media only screen and (max-width: 425px) {
  .contents-text-desc {
    font-size: 14px;
    line-height: 21px;
  }
  .contents-item-title {
    line-height: 26px;
    text-align: center;
  }
  .contents-item-btn.btn2 {
    font-size: 14px;
    padding: 5px 20px;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 1120px) {
  .gallery-content {
    max-width: 538px;
  }
  .gallery-title {
    font-size: 42px;
  }
  .gallery-desc {
    font-size: 18px;
  }
  .gallery-images img {
    max-width: 339px;
    width: 100%;
    height: 285px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (max-width: 920px) {
  .gallery-content {
    max-width: 502px;
  }
  .gallery-desc {
    font-size: 16px;
    line-height: 25px;
  }
  .gallery-btn.btn2 {
    padding: 10px 39px;
  }
}
@media only screen and (max-width: 425px) {
  .gallery-desc {
    font-size: 14px;
    line-height: 21px;
  }
  .gallery-btn.btn2 {
    font-size: 14px;
    padding: 5px 20px;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--graphik);
  font-size: 16px;
  line-height: 24px;
  background-color: var(--EERIE-BLACK);
  letter-spacing: 0.2px;
  color: var(--WHITE);
}

.wrapper-row {
  height: 100vh;
}

.container {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 139px;
  width: 100%;
  height: 52px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: var(--WHITE);
  border: 1px solid var(--WHITE);
  transition: all 0.3s;
}
.btn:hover {
  background-color: var(--ULTRAMARINE-BLUE);
  border: none;
}

.btn2 {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  background-color: var(--ULTRAMARINE-BLUE);
  color: var(--WHITE);
  padding: 13px 46px;
  transition: ease-in-out 0.3s;
}
.btn2:hover {
  opacity: 0.9;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */