.footer {
    padding: 107px 0;
}
.footer-row {
    display: flex;
    max-width: 1031px;
    margin: 0 auto;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    max-width: 513px;
    width: 100%;
}
.footer-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; 
    letter-spacing: 0.1px;
    margin-bottom: 40px;
}
.footer-list-item {
    & + * {
        margin-top: 19px;
    }
}
.footer-item-link {
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.2px;
    color: var(--WHITE);
    transition: .3s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}
.footer-contact {
    margin-left: auto;
}
.footer-contact-box {
    display: flex;
    align-items: center;
    
    & + * {
        margin-top: 10px;
    }
}
.footer-contact-element {
    font-weight: 500;
}
.footer-contact-address {
    padding-left: 8px;
}
.footer-contact-phone {
    padding-left: 10px
}
.footer-contact-socials-list {
    display: flex;
    margin-top: 30px;
}
.footer-socials-list-item {
    width: 40px;
    height: 40px;
    & + * {
        margin-left: 24px;
    }
}
.footer-socials-item-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    & svg {
        display: block;
        & path {
            transition: ease-in-out .3s;
        }
    }

    &:hover {
        path {
            fill: var(--DAVYS-GREY);
        }
    }
}