.gallery {
    padding-top: 200px;
}
.gallery-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-content {
    max-width: 591px;
    text-align: center;
    margin-bottom: 44px;
}
.gallery-title {
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 10px;
}
.gallery-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 33px;
    row-gap: 44px;
    margin-bottom: 44px;

    & img {
        border-radius: 12px;
    }
}
.gallery-btn.btn2 {
    background-color: transparent;
    border: 1px solid var(--WHITE);
    padding: 13px 40px;

    &:hover {
        background-color: var(--ULTRAMARINE-BLUE);
        // border: transparent;
    }
}