// Header--
// laptop
@media only screen and (max-width: 1024px) {
    .header-row {
        height: 107px;
    }
    .header-logo {
        width: 166px;
        height: 50px;
    }       
    .nav {
        margin-left: 90px;
    } 
    .btn.header-btn {
        max-width: 129px;
        height: 46px;
    }
    
}
// Header--
// laptop and tablet
@media only screen and (max-width: 920px) {
    .nav {
        display: none;
    }
    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1028px;
        min-height: 320px;
        position: absolute;
        top: 107px;
        left: 0;
        right: 0;
        background-color: var(--SMOKY-BLACK);
        padding: 40px 0;
        margin: 0 auto;
    
        & .nav-link {
            display: block;
            padding: 0 0 20px 0;
        }
    }
    .menu-btn {
        display: block;
    }
    
}
// Header--
// mobile
@media only screen and (max-width: 425px) {
    .header-row {
        justify-content: space-between;
        height: 65px;
    }
    .btn.header-btn {
        display: none;
    }
    .mobile-nav {
        top: 65px;
    }
    .header-mobile-btn {
        display: block;
        font-weight: 500;
        transition: all .3s;
        color: var(--WHITE);
        padding: 0;

        &:hover {
            opacity: .8;
        }
    }
    .menu-btn {
        width: 40px;
        height: 32px;
    }
}


// Hero--
// laptop
@media only screen and (max-width: 1024px) {
    .hero {
        padding-top: 170px;
        &::after {
            height: 451px;
        }
    }
    .hero-content {
        max-width: 570px;
    }
    .hero-content-title {
        font-size: 65px;
        line-height: 75px;
    }
    .hero-content-desc {
        max-width: 390px;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 60px;
    }
    .hero-content-btns {
        margin-bottom: 25px;
        column-gap: 22px;
    }
    .hero-try-for-free-btn.btn,
    .hero-learn-more-btn.btn {
        height: 50px;
        font-size: 16px;
    }
    .hero-try-for-free-btn.btn {
        max-width: 148px;
    }
    .hero-learn-more-btn.btn {
        max-width: 144px;
    }
}

// Hero--
// Tablet
@media only screen and (max-width: 768px) {
    .hero {
        padding-top: 160px;
        &::after {
            height: 280px;
        }
    }
    .hero-content-title {
        font-size: 58px;
        line-height: 58px;
        margin: 0 0 8px;
    }
    .hero-try-for-free-btn.btn,
    .hero-learn-more-btn.btn {
        height: 42px;
    }
    .hero-try-for-free-btn.btn {
        max-width: 138px;
    }
    .hero-learn-more-btn.btn {
        max-width: 134px;
    }
}

@media only screen and (max-width: 425px) {
    .hero {
        padding-top: 124px;
        &::after {
            height: 120px;
        }
    }
    .hero-content-title {
        font-size: 32px;
        line-height: 38px;
    }
    .hero-content-desc {
        max-width: 304px;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 60px;
    }
    .hero-content-btns {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 8px;
    }
    .hero-try-for-free-btn.btn,
    .hero-learn-more-btn.btn {
        max-width: 280px;
    }
}