@import './var';
@import './header';
@import './hero';
@import './media';
@import './features';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--graphik);
    font-size: 16px;
    line-height: 24px;
    background-color: var(--EERIE-BLACK);
    letter-spacing: 0.2px;
    color: var(--WHITE);
}
.wrapper-row {
    height: 100vh;
}
.container {
    max-width: 1260px;
    padding: 0 20px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h1,h2,h3,h4 {
    margin: 0;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 139px;
    width: 100%;
    height: 52px;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: var(--WHITE);
    border: 1px solid var(--WHITE);
    transition: all .3s;

    &:hover {
        background-color: var(--ULTRAMARINE-BLUE);
        border: none;
    }
}
.hidden {
    display: none;
}